
html, body {
}

html {
    background: #22313F;
}

body {
    font: 14px 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    background: #22313F;
}

i.fa {
    line-height: inherit!important;
    font-size: inherit;
    vertical-align: baseline!important;
}

::selection
{
    background:#256193;
    color:#fff;
}
::-moz-selection
{
    background:#256193;
    color:#fff;
}

h1, h2, h3, h4, h5, h6, span, p, input {
    margin: 0;
    padding: 0;
}

table, tr, td {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

ul, li, ol {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

p {
    line-height:150%!important;
}

a {
    color: #454545;
    text-decoration: none;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
}

a:hover {
    color: #256193;
    text-decoration: none;
}

a:focus {
    outline: 0;
}

#menu-bottom {
    left:0px;
    height:62px;
    position:absolute;
    width:100%;
    top:76px;
    z-index: 7;
}

#menu {
    height:84px;
    width: 1000px;
    margin:0px auto;
    margin-top:33px;
    box-shadow: inset 1px 0 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3), 0px 2px 0px rgba(0,0,0,0.15), inset 0 1px 0 rgba(0,0,0,0.2), inset 0 -1px 0 rgba(0,0,0,0.2);
}

#menu .menu-icons {
    text-align: center;
}

.main-menu {
    display: block;
    position: relative;
    background: rgba(0,0,0,0.3);
}

.dat-menu-list a[href="#drop-the-bass"] {
    display: none!important;
}

.main-menu .datmenu-prompt {
    display: none;
    float: right;
    color: #fff!important;
    font-size: 15px!important;
    position: relative;

    height: 84px;
    vertical-align: bottom;
    text-align: center;
    padding: 10px 32px;
    background: transparent;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    line-height: 68px;
    font-weight: bold;

    padding-top: 4px;
    text-shadow: 0 1px 0 #000;
    font-weight: normal;
    z-index: 1;
    text-shadow: 0 1px 0 #000;
}

.main-menu .datmenu-prompt i.fa {
    padding-right: 10px;
}

#menu-bottom.blurred #menu > .blur-before {
    position: absolute;
    display: block;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%;
    background: inherit;
    z-index: 0;
    overflow: hidden;
}

#menu-bottom.blurred #menu > .blur-before:before {
    content: "";
    position: absolute;
    left: 0;
    top: -23px;
    right: 0;
    z-index: 0;
    display: block;
    background-image: inherit;
    background-position: center top;
    width: 120%;
    margin-left: -10%;
    height: 1000px;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    transition: background-image 0.8s;
    -moz-transition: background-image 0.8s;
    -webkit-transition: background-image 0.8s;
    -o-transition: background-image 0.8s;
}

#menu-bottom.blurred #menu > .blur-before:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.7;
}

#header .header-logo {
    float: left;
    padding: 8px 18px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#header .header-logo:hover {
    background: rgba(0,0,0,0.5);
}

.header-breadcrumbs {
    color: #fff;
    top: 132px;
    position: absolute;
    width: 100%;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

.header-breadcrumbs a {
    color: #fff;
}

.header-breadcrumbs a:hover {
    color: rgba(255,255,255,0.5);
}

.header-breadcrumbs ul {
    display: block;
    padding: 6px 0px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-breadcrumbs ul li {
    display: inline-block;
    position: relative;
    padding-right: 18px;
    margin-right: 8px;
}

.header-breadcrumbs ul li:after {
    display: block;
    position: absolute;
    content: '\f105';
    font-family: "FontAwesome";
    right: 0px;
    top: 0px;
    line-height: 19px;
    opacity: 0.5;
}

.header-breadcrumbs ul li:last-child:after {
    display: none;
}

.main-menu .header-logo {
    display: block;
    position: relative;
    z-index: 2;
}

.main-menu.width-fluid {
    display: table;
    width: 100%;
}

#header .main-menu.width-fluid .header-logo {
    display: table-cell;
    text-align: center;
    float: none;
}

.main-menu.width-fluid ul {
    display: table-cell;
}

.main-menu.width-fluid ul li {
    display: table-cell;
}

.main-menu ul {
    display: block;
    position: relative;
}

.main-menu > ul > li {
    display: block;
    position: relative;
    float: left;
}

.main-menu ul:after {
    display: block;
    clear: both;
    content: '';
}

.main-menu > ul > li > a {
    display: block;
    height: 84px;
    vertical-align: bottom;
    text-align: center;
    padding: 10px 22px;
    position: relative;
    background: transparent;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-menu > ul > li:hover > a {
    background: rgba(0,0,0,0.5);
    text-shadow: 0 0 10px #fff;
}

.main-menu ul li a > span:after {
    display: block;
    position: absolute;
    content: '...';
    width: 100%;
    text-align: center;
    left: 0px;
    bottom: 6px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.main-menu ul li a i.fa {
    display: block;
    font-size: 26px;
    line-height: 37px!important;
    text-shadow: 0 2px 0 #000;
    color: #F2F2F2;
    font-weight: normal!important;
}

.main-menu ul li a strong {
    display: block;
    font-size: 12px;
    padding-top: 4px;
    text-shadow: 0 1px 0 #000;
    font-weight: normal;
    font-family: Arial;
}

.main-menu ul li.no-icon a strong {
    line-height: 53px;
    font-size: 14px;
    font-weight: bold;
}

.main-menu ul.sub-menu {
    display: none;
    position: absolute;
    top: 100px;
    background: rgba(16, 16, 16, 0.94);
    z-index: 10;
    width: 240px;
    left: 50%;
    margin-left: -120px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.29);
}

.main-menu li:hover > ul.sub-menu {
    display: block;
}

.main-menu ul.sub-menu:before {
    display: block;
    position: absolute;
    content: '';
    height: 16px;
    bottom: 100%;
    width: 100%;
    left: 0px;
}

.main-menu ul.sub-menu:after {
    display: block;
    position: absolute;
    content: '';
    left: 50%;
    width: 10px;
    height: 10px;
    background: inherit;
    margin-left: -5px;
    top: -5px;
    z-index: 1;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main-menu ul.sub-menu li {
    display: block;
    z-index: 2;
}

.main-menu ul li {
    display: inline-block;
    position: relative;
}

.main-menu ul.sub-menu li a {
    display: block;
    padding: 12px 20px;
    box-shadow: 0 -1px 0 0 rgba(47, 47, 47, 0.6);
    font-size: 13px;
    font-weight: bold;
    color: #CACACA;
}

.main-menu ul.sub-menu li:hover > a {
    background: rgba(255,255,255,0.05);
}

.main-menu ul.sub-menu li:first-child > a {
    box-shadow: none;
}

.main-menu ul.sub-menu ul.sub-menu {
    top: 0px;
    left: 150%;
}

.main-menu ul.sub-menu a span:before {
    display: block;
    float: right;
    content: ':';
    font-size: 13px;
    line-height: 13px;
    opacity: 0.3;
}

.main-menu ul.sub-menu a span:after {
    display: none;
}

.main-menu ul.sub-menu ul.sub-menu:after,
.main-menu ul.sub-menu ul.sub-menu:before {
    display: none;
}

.footer {
    width: 1000px;
    margin:0 auto;
    height: 80px;
    background: rgba(0,0,0,0.3);
    padding:28px;
    color: #fff;
    box-shadow: inset 1px 0 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3), 0px 2px 0px rgba(0,0,0,0.15), inset 0 1px 0 rgba(0,0,0,0.2), inset 0 -1px 0 rgba(0,0,0,0.2);

}

.footer a {
    color: #fff
}

.footer span:first-child {
    font-size: 12px;
}

.margin-header {
    margin-right: 50px;
}

.img-responsive2 {
    width: 64px;
    height: 65px;
    margin: 0 auto;
}

.img-responsive {
    margin: 0 auto;
}

a > p {
    color: #fff;
    margin-bottom: 12px;
}

.nav-address {
    height: 35px;
    background-color: rgba(0,0,0,0.5);
}

.nav-address p {
    text-align: right;
    padding: 6px;
    font-weight: 200;
    font-size: 13px;
}

.nav-address p a {
    color: white;
    text-decoration: none;
}

.border {
    border: 3px solid rgba(0,0,0,0.3);
    padding: 12px;
}

.border h3 {
    color: white;
    margin-top: 6px;
    margin-bottom: 12px;
}

.img_event {
    width: 250px;
    height: 139px;
}

.content_event {
    font-size: 20px;
    color: white;
    margin-left: 30px;
}

.content_event a {
    color: red;
}

@media screen and (max-width: 600px) {
    .content_event {
        margin-left: 0px;
    }
    .footer {
        width: 100%;
    }
    .margin-header {
        margin-left: 0px;
    }
}

@media only screen and (max-width : 480px) {

    .content_event {
        margin-left: 0px;
    }
    .footer {
        width: 100%;
    }
    .margin-header {
        margin-left: 0px;
    }
}

@media only screen and (max-width : 320px) {
    .content_event {
        margin-left: 0px;
    }
    .footer {
        width: 100%;
    }
    .margin-header {
        margin-left: 0px;
    }
}